asgiref==3.8.1
bcrypt==4.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cloudinary==1.44.0
cryptography==45.0.2
defusedxml==0.7.1
Django==5.2
django-allauth==65.7.0
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
idna==3.10
mysqlclient==2.2.7
oauthlib==3.2.2
paramiko==3.5.1
pillow==11.3.0
pycparser==2.22
PyJWT==2.10.1
PyNaCl==1.5.0
python-barcode==0.15.1
python-decouple==3.8
python3-openid==3.2.0
razorpay==2.0.0
reportlab==4.4.3
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.6.1
sqlparse==0.5.3
storage==0.0.4.3
tzdata==2025.2
urllib3==2.4.0
xlsxwriter==3.2.9
